<?xml version="1.0"?>
<robot name="vn100_imu">
  <link name="imu_link">
    <visual>
      <geometry>
        <mesh filename="package://imu_dds_adapter/meshes/vn100_rugged.stl"
              scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="vn100_gray">
        <color rgba="0.45 0.45 0.50 1.0"/>
      </material>
    </visual>
  </link>
</robot>
